# Виключити бінарні файли
*.exe
*.dll
*.so
*.dylib

# Виключити файли, що створюються компілятором Go
*.test
*.prof

# Виключити файли локальної конфігурації для Go
*.cprof

# Виключити файли конфігурації
*.yaml
*.yml
*.json

# Виключити каталоги залежностей
/vendor/
/go.mod
/go.sum

# Виключити файли журналу
*.log

# Виключити файли збереження історії
.history/

# Виключити файли віртуального середовища Go
/bin/
/pkg/

# Виключити файли, створені редакторами або IDE
.vscode/
.idea/
*.vs/

# Виключити файли налаштування різних інструментів аналізу коду
*.coverprofile
*.out