# Виключити бінарні файли
*.exe
*.dll
*.so
*.dylib

# Виключити файли, що створюються компілятором Go
*.test
*.prof

# Виключити файли локальної конфігурації для Go
*.cprof

# Виключити файли конфігурації
*.yaml
*.yml
*.json

# Виключити каталоги залежностей
/vendor/
/go.mod
/go.sum
